<app-header></app-header>
<div>
  <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-12 col-md-12 card">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Dashboard</div>
            <div class="card-body">
                <div class="row" style="display: flex; justify-content: center; align-items: center; padding: 30px;">
                    <div class="col-6 col-sm-6 col-md-6" style="display: flex; justify-content: center; align-items: center;">
                        <input type="date" class="form-control" id="birthday" name="birthday" style="font-family: 'Rajdhani', sans-serif;">
                    </div>
                    <div class="col-6 col-sm-6 col-md-6" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                      <button class="btn" type="submit" style="color: #3f51b5; border: 1px solid;">Search</button>
                    </div>
                  </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Purchases</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between" style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Delivered Orders</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Pending Orders</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Canceled Orders</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Users</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between"  style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Total Readers</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Total New Readers</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Most Purchased Reader Genre</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Stock</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between"  style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Book Stock</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Categories of Books in Stock</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Stock Value</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Book</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between"  style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Best Selling Book Category</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Best Selling Book</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Best Selling Author</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Location</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between"  style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">City Best Sells Books</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">State Best Sells Books</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Country Best Sells Books</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Sales</div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between"  style="font-family: 'Rajdhani', sans-serif;">
                            <div class="card col-12 col-sm-3 col-md-2 mb-2 d-flex align-items-center justify-content-center" style="height: 120px; border-radius: 5px; border-left: 5px solid #3f51b5;">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col col-sm-10 col-md-10 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p style="font-weight: 900;">Total Sales Value</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <p>R$200.000,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                                        <i style="font-size: 30px; color: rgb(207, 207, 207);" class="bi bi-bag-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>