<body>
  <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>
  <div class="home-content" *ngIf="!isLoading"> 
    <app-header></app-header>
    <div>
      <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row" style="margin-bottom: 50px;">
          <div class="col card">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">My Requests</div>
            <div class="card-body">
              <div class="card mb-3" style="font-family: 'Rajdhani', sans-serif;">
                <div class="card-body" *ngFor="let purchase of purchases" style="border-bottom: 1px solid rgb(227, 225, 225);">
                  <div class="row" style="display: flex; justify-content: center; align-items: center;">
                    <div  class="col col-sm-2 col-md-2" style="display: flex; justify-content: center; align-items: center;">
                      <img class="card-img-top" [src]="purchase.url_img" alt="Card image cap"> 
                    </div>
                    <div class="col col-sm-2 col-md-2" style="display: flex; justify-content: center; align-items: center;">
                      <p>{{ purchase.book_title }}</p>
                    </div>
                    <div class="col col-sm-2 col-md-2" style="display: flex; justify-content: center; align-items: center;">
                      <p>{{ purchase.quantity }}</p>
                    </div>
                    <div class="col col-sm-2 col-md-2" style="display: flex; justify-content: center; align-items: center;">
                      <p>{{ purchase.price }}</p>
                    </div>
                    <div class="col col-sm-2 col-md-2" style="display: flex; justify-content: center; align-items: center;">
                      <p>{{ purchase.purchase_date }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>
