<app-header></app-header>
<div>
  <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col card">
        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">My Requests</div>
        <div class="card-body">
          <div class="card mb-3">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Data da Compra</div>
            <div class="card-body">
              <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51Xby92J9KL._SX346_BO1,204,203,200_.jpg" alt="Card image cap"> 
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Nome do livro</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Quantidade da compra</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Enviado</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Data da Compra</div>
            <div class="card-body" style="border-bottom: 1px solid rgb(227, 225, 225);">
              <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51Xby92J9KL._SX346_BO1,204,203,200_.jpg" alt="Card image cap"> 
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Nome do livro</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Quantidade da compra</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Enviado</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51Xby92J9KL._SX346_BO1,204,203,200_.jpg" alt="Card image cap"> 
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Nome do livro</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Quantidade da compra</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <p>Enviado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>