<div style="background-color: white;">
    <div class="container">
        <form [formGroup]="myForm">
            <div class="row">
                <div class="col" style="display: flex; justify-content: center; align-items: center;">
                    <span style="font-family: 'Rajdhani', sans-serif; font-size: 30px; color: #3f51b5;">BookWise</span>
                </div>
                <div class="col" style="display: flex; justify-content: center; align-items: center;">
                    <mat-form-field appearance="outline" style="margin-top: 20px; width: 120px;">
                        <mat-select style="font-family: 'Rajdhani', sans-serif;" formControlName="search" [(value)]="selected">
                            <mat-option style="font-family: 'Rajdhani', sans-serif;" value="author">Author</mat-option>
                            <mat-option style="font-family: 'Rajdhani', sans-serif;" value="book">Book</mat-option>
                            <mat-option style="font-family: 'Rajdhani', sans-serif;" value="category">Category</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="margin-top: 20px; width: 250px;">
                        <input style="font-family: 'Rajdhani', sans-serif;" matInput placeholder="Pesquisar" style="width: 250px;">
                        <button mat-icon-button matSuffix (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col" style="display: flex; justify-content: center; align-items: center;">
                    <nav class="navbar navbar-expand navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-person icon-custom"></i>
                                    <span style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #3f51b5;">Olá, André!</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #3f51b5;" class="dropdown-item" href="#">Meus pedidos</a>
                                    <a style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #3f51b5;"class="dropdown-item" href="#">Minha conta</a>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>                  
                <div class="col" style="display: flex; justify-content: center; align-items: center;">
                    <i class="bi bi-cart icon-custom"></i>
                </div>
            </div>
        </form>
    </div>
</div>