<app-header></app-header>
<div class="container" id="form-steps" style="margin-top: 100px;">
    <div class="card">
        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Personal Data</div>
        <div class="card-body">
            <div class="form-group">
                <form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="firstName" class="form-label">First Name</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="lastName" class="form-label">Last Name</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="email" class="form-label">Email</label>
                            <input style="font-family: 'Rajdhani', sans-serif;"type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="password" class="form-label">Password</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cpf" class="form-label">CPF</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="phone" class="form-label">Phone</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="birthday" class="form-label">Birthday</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" style="font-family: 'Rajdhani', sans-serif;" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4" style="padding-top: 9px;">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="gender">User Type</label>
                            <select style="font-family: 'Rajdhani', sans-serif;" class="form-select" name="usertype" [disabled]="!isEditing">
                                <option value=""></option>
                                <option value="Admin">Admin</option>
                                <option value="Client">Client</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4" style="padding-top: 9px;">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="gender">Gender</label>
                            <select style="font-family: 'Rajdhani', sans-serif;" class="form-select" id="gender" name="gender" [disabled]="!isEditing">
                                <option value=""></option>
                                <option value="Masculine">Masculine</option>
                                <option value="Feminine">Feminine</option>
                            </select>
                        </div>   
                    </div>
                </form>
            </div>
            <div class="row justify-content-end" style="padding: 20px;">
                <div class="col-auto">
                <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">change</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 50px;">
        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Address</div>
            <div class="card-body">
                <div class="form-group">
                    <form>
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="zipCode" class="form-label">Zip Code</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="street" class="form-label">Street</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="number" class="form-label">Number</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="complement" class="form-label">Complement</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="neighborhood" class="form-label">Neighborhood</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="phone" class="form-label">City</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div> 
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="state" class="form-label">State</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                            </div>
                            <div class="col-12 col-md-4">
                                <label style="font-family: 'Rajdhani', sans-serif;" for="country" class="form-label">Country</label>
                                <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing"> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row justify-content-end" style="padding: 20px;">
                    <div class="col-auto">
                    <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">change</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 50px; margin-bottom: 100px;">
        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Payment</div>
        <div class="card-body">
            <div class="form-group">
                <form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cardNumber" class="form-label">Card Number</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="typeCard" class="form-label">Type Card</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="flag" class="form-label">Flag</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="bank" class="form-label">Bank</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="country" class="form-label">Country</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cardName" class="form-label">Card Name</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="expiration" class="form-label">Expiration</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cvv" class="form-label">CVV</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row justify-content-end" style="padding: 20px;">
                <div class="col-auto">
                    <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">change</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
