<app-header></app-header>
<div>
  <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-12 col-md-12 card">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Edit book</div>
            <div class="card-body">
                <form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-12">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="name" class="form-label">Name</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="price" class="form-label">Price</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="author" class="form-label">Author</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="year" class="form-label">Year</label>
                            <input style="font-family: 'Rajdhani', sans-serif;"type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="isbn" class="form-label">ISBN</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="edition" class="form-label">Edition</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="origin" class="form-label">Origin</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="format" class="form-label">Format</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="binding" class="form-label">Binding</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="language" class="form-label">Language</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="country" class="form-label">Country</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="pages" class="form-label">Pages</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="stock" class="form-label">Stock</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="url" class="form-label">URL</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div> 
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="promotion" class="form-label">Promotion</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="promotionValue" class="form-label">Promotion Value</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control">
                        </div>
                        <div class="col-12 col-md-12 mb-2 mt-2">
                            <label style="font-family: 'Rajdhani', sans-serif;"for="description" class="form-label">Description</label>
                            <textarea style="font-family: 'Rajdhani', sans-serif;" class="form-control" id="description" rows="2"></textarea>
                        </div> 
                    </div>
                </form>
                <div class="row justify-content-end" style="padding: 20px;">
                    <div class="col-auto">
                        <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>