<body>
    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>
    <div class="home-content" *ngIf="!isLoading">
        <app-header></app-header>
        <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-12 col-md-6 card">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Photo</div>
                    <div class="card-body">
                        <div class="form-group">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img class="card-img-top" src={{book.url_img}} alt="Card image cap">
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
                                <button class="btn" type="submit" style="color: #007bff; font-family: 'Rajdhani', sans-serif; border: 1px solid #007bff;" (click)="addToCart()">Shopping Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 card">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Details</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Title</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.title}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Price</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.price}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Author</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.author}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Year</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.year}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">ISBN</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.isbn}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Edition</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.edition}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Origin</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.origin}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Format</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.book_format}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Binding</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.binding}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Language</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.language}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Country</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.country}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Pages</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.pages}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Stock</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.stock}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4" style="height: 30px; border-right: 5px solid white; border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">Category</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="height: 30px;  border-bottom: 5px solid white; background-color: rgb(234, 234, 234);">
                                <p style="font-family: 'Rajdhani', sans-serif;">{{book.category}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col card">
                    <div class="card-body">
                        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Description</div>
                        <p style="text-align: justify; font-family: 'Rajdhani', sans-serif;">{{book.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col card">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Comment</div>
                    <div class="card-body">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                        </fieldset>
                        <div class="mb-3" style="font-family: 'Rajdhani', sans-serif;">
                            <label for="exampleFormControlInput1" class="form-label">Title</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3" style="font-family: 'Rajdhani', sans-serif;">
                            <label for="ratingWrite" class="form-label">Rating Write</label>
                            <textarea class="form-control" id="ratingWrite" rows="3"></textarea>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
                            <button class="btn" type="submit" style="color: #007bff; font-family: 'Rajdhani', sans-serif; border: 1px solid #007bff;">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card">
                    <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Rating</div>
                    <div class="card-body">
                        <div class="mb-3" style="font-family: 'Rajdhani', sans-serif;">
                            <label for="exampleFormControlInput1" class="form-label">Author</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" [disabled]="!isEditing">
                        </div>
                        <div class="mb-3" style="font-family: 'Rajdhani', sans-serif;">
                            <label for="exampleFormControlInput1" class="form-label">Date</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" [disabled]="!isEditing">
                        </div>
                        <fieldset class="rating" [disabled]="!isEditing">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                        </fieldset>
                        <div class="mb-3" style="font-family: 'Rajdhani', sans-serif;">
                            <label for="exampleFormControlTextarea1" class="form-label">Rating Write</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [disabled]="!isEditing"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</body>

