<div style="background-color: #3f51b5;">
    <div class="container text-center" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-md-6">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    <p style="color: white; font-size: 20px; font-family: 'Rajdhani', sans-serif; font-weight: 900;">Inscreva-se na nossa newsletter</p>
                </div>
                <div class="col input-group" style="display: flex; justify-content: center; align-items: center;">
                    <input type="text" class="form-control search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn button" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col" style="margin-top: 20px;">
                    <p style="color: white; font-size: 20px; font-family: 'Rajdhani', sans-serif; font-weight: 900;">Redes Sociais</p>
                </div> 
                <div class="col" style="margin-top: 10px;">
                    <i style="margin-right: 60px;" class="bi bi-youtube icon-custom"></i>
                    <i style="margin-right: 60px;" class="bi bi-instagram icon-custom"></i>
                    <i style="margin-right: 60px;" class="bi bi-facebook icon-custom"></i>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="height: 250px; background-color: white; padding: 20px;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Sobre nós</p>
                <p>Quem Somos</p>
                <p>Trabalhe conosco</p>
                <p>Eventos</p>
            </div>
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Atendimento</p>
                <p>Entre em contato</p>
                <p>Política de Privacidade</p>
                <p>Política de entrega e devolução</p>
                <p>Política de vendas</p>
            </div>
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Formas de Pagamento</p>
                <img width="300" height="150" src=" https://d2r9epyceweg5n.cloudfront.net/stores/002/164/628/rte/mercadopago-selo2.png" alt="payment">
            </div>
        </div>
    </div>  
</div>

        
  
