<div style="background-color: #3f51b5;"  >
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <p style="color: white; font-size: 20px; font-family: 'Rajdhani', sans-serif; font-weight: 900; padding-top: 20px;">Inscreva-se na nossa newsletter</p>
            </div>
            <div class="col-md-4" style="display: flex; justify-content: center; align-items: center;">
                <input class="search" type="text" class="form-control" placeholder="E-mail">
                <a href="www.google.com.br"><i class="bi bi-search icon-custom-search"></i></a>
            </div>
            <div class="col-md-2">
                <p style="color: white; font-size: 20px; font-family: 'Rajdhani', sans-serif; font-weight: 900; padding-top: 20px;">Redes Sociais</p>
            </div>
            <div class="col-md-3 text-center" style="padding-top: 10px; display: flex; justify-content: space-between;">
                <i class="bi bi-youtube icon-custom"></i>
                <i class="bi bi-instagram icon-custom"></i>
                <i class="bi bi-facebook icon-custom"></i>
            </div>
        </div>
    </div>
</div>

<div style="background-color: white;">
    <div class="container text-center" style="padding: 30px;">
        <div class="row">
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Sobre nós</p>
                <p>Quem Somos</p>
                <p>Trabalhe conosco</p>
                <p>Eventos</p>
            </div>
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Atendimento</p>
                <p>Entre em contato</p>
                <p>Política de Privacidade</p>
                <p>Política de entrega e devolução</p>
                <p>Política de vendas</p>
            </div>
            <div class="col-md-4 text-md-start">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Formas de Pagamento</p>
                <img width="300" height="150" src=" https://d2r9epyceweg5n.cloudfront.net/stores/002/164/628/rte/mercadopago-selo2.png" alt="payment">
            </div>
        </div>
    </div>  
</div>



        
  
