.icon-custom {
    font-size: 2rem;
    color: white;
}

.icon-custom-search{
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}

.input-group-text::before {
    color: red;
}

::-webkit-input-placeholder {
    font-family: 'Rajdhani', sans-serif;
}

ul {
    list-style-type: none;
}

.buttonSearch {

    color: white;
    border: 1px solid white;
}