<div style="background-color: #ccced8;"  >
    <div class="container text-center" style="padding: 30px;">
        <div class="row">
            <p style="color: black; font-size: 20px; font-family: 'Rajdhani', sans-serif; font-weight: 900;">Receive news, sign up!</p>
        </div>
        <div class="row">
            <p style="font-family: 'Rajdhani'">Sign up for our newsletter to receive promotions and exclusive content.</p>
        </div>
        <div class="row">
            <form>
                <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <input class="form-control" type="name" placeholder="Name" aria-label="name" style="font-family: 'Rajdhani', sans-serif;">
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <input class="form-control" type="email" placeholder="Email" aria-label="email" style="font-family: 'Rajdhani', sans-serif;">
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <input type="submit" class="form-control btn btn-primary" style="background-color: #3f51b5; font-family: 'Rajdhani', sans-serif;" value="Register">
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="background-color: white;">
    <div class="container text-center" style="padding: 30px;">
        <div class="row">
            <div class="col-md-3 text-md-start" style="font-family: 'Rajdhani', sans-serif;">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Sobre nós</p>
                <p>Quem Somos</p>
                <p>Trabalhe conosco</p>
                <p>Eventos</p>
            </div>
            <div class="col-md-3 text-md-start" style="font-family: 'Rajdhani', sans-serif;">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Atendimento</p>
                <p>Entre em contato</p>
                <p>Política de Privacidade</p>
                <p>Política de entrega e devolução</p>
                <p>Política de vendas</p>
            </div>
            <div class="col-md-3 text-md-start" style="font-family: 'Rajdhani', sans-serif;">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Formas de Pagamento</p>
                <img width="300" height="150" src=" https://d2r9epyceweg5n.cloudfront.net/stores/002/164/628/rte/mercadopago-selo2.png" alt="payment">
            </div>
            <div class="col-md-3 text-md-start" style="font-family: 'Rajdhani', sans-serif;">
                <p style="font-weight: 900; font-family: 'Rajdhani', sans-serif;">Redes Sociais</p>
                <img width="300" height="150" src=" https://static.vecteezy.com/ti/vetor-gratis/t2/3600933-set-of-social-media-icon-in-white-background-gratis-vetor.jpg" alt="payment">
            </div>
        </div>
    </div>  
</div>



        
  
