<app-header></app-header>
<div>
  <div class="container" id="form-steps" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col card">
        <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Checkout</div>
        <div class="card-body">
          <div class="col d-flex nav-item mb-3" role="search">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Purchases</div>
            <div class="card-body" style="border-bottom: 1px solid rgb(227, 225, 225);">
              <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51Xby92J9KL._SX346_BO1,204,203,200_.jpg" alt="Card image cap"> 
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>O poder do hábito</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>10</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>R$50,00</p>
                </div>
              </div>
            </div>
            <div class="card-body" style="border-bottom: 1px solid rgb(217, 217, 217);">
              <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <img class="card-img-top" src="https://m.media-amazon.com/images/I/51Xby92J9KL._SX346_BO1,204,203,200_.jpg" alt="Card image cap"> 
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>Nome do livro</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>10</p>
                </div>
                <div class="col col-sm-3 col-md-3" style="display: flex; justify-content: center; align-items: center; font-family: 'Rajdhani', sans-serif;">
                  <p>R$50,00</p>
                </div>
              </div>
            </div>
            <div class="card-body" style="border-bottom: 1px solid rgb(217, 217, 217);">
                <div class="row justify-content-end" style="padding: 20px;">
                    <div class="col-auto">
                        <p class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">Total: 100,50</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Address</div>
            <div class="card-body" style="border-bottom: 1px solid rgb(227, 225, 225);">
                <form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="zipCode" class="form-label">Zip Code</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="street" class="form-label">Street</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="number" class="form-label">Number</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="complement" class="form-label">Complement</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="neighborhood" class="form-label">Neighborhood</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="phone" class="form-label">City</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="state" class="form-label">State</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="country" class="form-label">Country</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing"> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="row justify-content-end" style="padding: 20px;">
                <div class="col-auto">
                    <p class="" style="color: #2dac5f; font-family: 'Rajdhani', sans-serif; margin-right: 50px;">free shipping</p>
                    <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">change</a>
                </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" style="font-family: 'Rajdhani', sans-serif;">Payment</div>
            <div class="card-body" style="border-bottom: 1px solid rgb(227, 225, 225);">
                <form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cardNumber" class="form-label">Card Number</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="typeCard" class="form-label">Type Card</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="flag" class="form-label">Flag</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="bank" class="form-label">Bank</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="country" class="form-label">Country</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cardName" class="form-label">Card Name</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div> 
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="expiration" class="form-label">Expiration</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                        <div class="col-12 col-md-4">
                            <label style="font-family: 'Rajdhani', sans-serif;" for="cvv" class="form-label">CVV</label>
                            <input style="font-family: 'Rajdhani', sans-serif;" type="text" class="form-control" [disabled]="!isEditing">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row justify-content-end" style="padding: 20px;">
                <div class="col-auto">
                    <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">change</a>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end" style="padding: 20px;">
            <div class="col-auto">
                <a class="" style="color: #007bff; font-family: 'Rajdhani', sans-serif;">Confirm</a>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
